.contact-image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55vh;
	width: 100%;
	background: var(--yellow-color) url("images/contact-image.png") no-repeat
		center;
	background-blend-mode: screen;
	background-size: cover;
}

.rules-button {
	padding: 0.75rem 1.5rem;
	height: 90px;
	width: 280px;
	font-size: 1.5rem;
	border-radius: 20px;
	background-color: var(--bordo-color);
	border: none;
	color: var(--yellow-color);
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: normal;
	box-shadow: none;
}

.rules-button:hover {
	background-color: var(--yellow-color) !important;
	color: var(--bordo-color);
	box-shadow: none;
}

.guidelines-button {
	padding: 0.75rem 1.5rem;
	height: 90px;
	width: 280px;
	font-size: 1.5rem;
	border-radius: 20px;
	background-color: var(--bordo-color);
	border: none;
	color: var(--yellow-color);
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: normal;
	box-shadow: none;
}

.guidelines-button:hover {
	background-color: var(--yellow-color) !important;
	color: var(--bordo-color);
	box-shadow: none;
}

.mb-7 {
	margin-bottom: 6.2rem;
}

.social-media-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
	font-size: 50px;
}

.facebook-icon {
	color: #1877f2;
}

.facebook-icon:hover {
	color: #0e5bb5;
}

.instagram-icon {
	color: #c13584;
}

.instagram-icon:hover {
	color: #a12a6a;
}

.youtube-icon {
	color: #ff0000;
}

.youtube-icon:hover {
	color: #cc0000;
}

.social-media-container img {
	width: 50px;
	height: 50px;
}

.social-media-container img {
	width: 50px;
	height: 50px;
	transition: filter 0.3s ease, opacity 0.3s ease;
}

.social-media-container img:hover {
	filter: brightness(0.7);
	opacity: 0.8;
}

.rules-and-guidelines-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
