.account-details-header {
	color: var(--bordo-color);
	font-size: 3.2rem;
	padding-top: 30px;
}

.account-details-section-header {
	color: var(--bordo-color);
}

.account-data-header {
	color: var(--bordo-color);
	margin-bottom: 0;
}

.edit-button {
	padding: 0.75rem 1.1rem;
	min-height: 50px;
	width: 170px;
	border-radius: 16px;
	background-color: var(--bordo-color);
	border: 0;
	color: var(--yellow-color);
	font-weight: bold;
	box-shadow: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit-button {
	font-size: clamp(0.5rem, 1vw, 1rem);
}

.edit-button:hover,
.edit-button:active {
	background-color: var(--yellow-color) !important;
	border-color: var(--yellow-color) !important;
	color: var(--bordo-color) !important;
	box-shadow: none;
}

.no-votes-header {
	color: var(--bordo-color);
}
