@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
	--main-color: #840000;
	--hover-color: #f14902;
	--bg-color: #ffde59;
	--dropdown-bg-color: #840000;
	--dropdown-hover-bg-color: #ffde59;
	--dropdown-hover-color: #840000;
}

.navbar {
	width: 100%;
	font-size: x-large;
	height: 96px;
	background-color: var(--bg-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	top: 0;
	z-index: 999;
	font-family: "Roboto", sans-serif;
}

.nav-link {
	color: var(--main-color);
	text-decoration: none;
	font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
	color: var(--hover-color) !important;
}

.logo {
	max-width: 120px;
	max-height: 88px;
}

.dropdown-toggle {
	color: var(--main-color);
	background-color: transparent;
	border-color: transparent;
	width: 100%;
	text-align: left;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
	color: var(--hover-color) !important;
	background-color: transparent !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.dropdown-menu {
	background-color: var(--dropdown-bg-color);
	color: var(--bg-color);
}

.dropdown-item {
	background-color: var(--dropdown-bg-color);
	color: var(--bg-color);
}

.dropdown-item:hover {
	background-color: var(--dropdown-hover-bg-color);
	color: var(--dropdown-hover-color);
}

.menu-icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--main-color);
	border-radius: 5px;
	margin-right: 10px;
	background-color: transparent;
	cursor: pointer;
}

.menu-icon svg {
	color: var(--main-color);
}

.menu-icon:hover,
.menu-icon:focus,
.menu-icon:active {
	background-color: var(--main-color) !important;
}

.menu-icon:hover svg,
.menu-icon:focus svg,
.menu-icon:active svg {
	color: var(--bg-color) !important;
}

@media (max-width: 767px) {
	.custom-collapse {
		background-color: var(--main-color) !important;
	}

	.custom-collapse .nav-link {
		color: var(--bg-color) !important;
		margin: 0 !important;
		padding-left: 8px;
		border-radius: 5px;
	}

	.custom-collapse .nav-link:hover,
	.custom-collapse .nav-link:active {
		color: var(--hover-color) !important;
		background-color: var(--bg-color) !important;
	}

	.custom-collapse .dropdown-toggle {
		color: var(--bg-color) !important;
		width: 100%;
	}

	.custom-collapse .dropdown-toggle:focus,
	.custom-collapse .dropdown-toggle:active {
		color: var(--bg-color) !important;
	}

	.custom-collapse .dropdown-toggle:hover {
		color: var(--hover-color) !important;
		background-color: var(--bg-color) !important;
	}

	.custom-collapse .dropdown-item:hover {
		color: var(--hover-color) !important;
		background-color: var(--bg-color) !important;
	}

	.dropdown-toggle-second {
		margin: 0 !important;
	}
}
