/* Navbar Styles */
.navbar {
	width: 100%;
	font-size: x-large;
	height: 96px;
	background-color: var(--light-yellow-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	top: 0;
	z-index: 999;
}

.nav-link {
	color: var(--bordo-color);
	text-decoration: none;
	font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
	color: var(--orange-color) !important;
}

.logo {
	max-width: 120px;
	max-height: 88px;
	margin-left: 12px;
}

.dropdown-toggle {
	color: var(--bordo-color);
	background-color: transparent;
	border-color: transparent;
	width: 100%;
	text-align: left;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
	color: var(--orange-color) !important;
	background-color: transparent !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.dropdown-menu {
	background-color: var(--bordo-color);
	color: var(--light-yellow-color);
}

.dropdown-item {
	background-color: var(--bordo-color);
	color: var(--light-yellow-color);
}

.dropdown-item:hover {
	background-color: var(--light-yellow-color);
	color: var(--orange-color);
}

.menu-icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--bordo-color);
	border-radius: 5px;
	margin-right: 10px;
	background-color: transparent;
	cursor: pointer;
}

.menu-icon svg {
	color: var(--bordo-color);
}

.menu-icon:hover,
.menu-icon:focus,
.menu-icon:active {
	background-color: var(--bordo-color) !important;
}

.menu-icon:hover svg,
.menu-icon:focus svg,
.menu-icon:active svg {
	color: var(--light-yellow-color) !important;
}

@media (max-width: 767px) {
	.custom-collapse {
		background-color: var(--bordo-color) !important;
	}

	.custom-collapse .nav-link {
		color: var(--light-yellow-color) !important;
		margin: 0 !important;
		padding-left: 8px;
		border-radius: 5px;
	}

	.custom-collapse .nav-link:hover,
	.custom-collapse .nav-link:active {
		color: var(--orange-color) !important;
		background-color: var(--light-yellow-color) !important;
	}

	.custom-collapse .dropdown-toggle {
		color: var(--light-yellow-color) !important;
		width: 100%;
	}

	.custom-collapse .dropdown-toggle:focus,
	.custom-collapse .dropdown-toggle:active {
		color: var(--light-yellow-color) !important;
	}

	.custom-collapse .dropdown-toggle:hover {
		color: var(--orange-color) !important;
		background-color: var(--light-yellow-color) !important;
	}

	.custom-collapse .dropdown-item:hover {
		color: var(--orange-color) !important;
		background-color: var(--light-yellow-color) !important;
	}

	.dropdown-toggle-second {
		margin: 0 !important;
	}
}

/* Footer Styles */
.eu-container {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 40px 24px 10px;
	background-color: var(--white-color) !important;
}

.eu-image {
	width: 245px;
	height: 55px;
}

.eu-info {
	font-size: 10px;
	padding: 10px 0px 20px;
	margin-top: 20px;
}

.faq-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--bordo-color);
	padding: 60px 10px 60px;
	gap: 125px;
}

.icon-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
	color: var(--yellow-color);
	font-size: 15px;
}

.copyright-text {
	margin: 0 15px;
}

.social-icon {
	color: var(--yellow-color);
	transition: color 0.3s;
}

.social-icon:hover {
	color: var(--orange-color);
}

.faq-image {
	max-width: 400px;
	max-height: 152px;
}

.cc-image {
	width: 100px;
	height: 45px;
	padding: 10px 0px 0px;
}

@media (max-width: 767px) {
	.faq-container {
		flex-direction: column;
		gap: 20px;
	}

	.faq-image,
	.cc-image {
		max-width: 80%;
		height: auto;
	}
}
